.comments {
  border-bottom: 1px #eaebec solid;
}

.comment:last-of-type {
  padding-bottom: 10px;
}
.comment {
  background-color: white;
  display: flex;
  padding: 10px 10px 0 10px;
}

.new-comment {
  border-left: 2px #4080ff solid;
  padding: 10px 10px 0 8px;
}

.comment a {
  font-weight: bold;
  margin-right: 8px;
  width: 35px;
}

.comment-body a {
  margin-right: 5px;
}

.comment img {
  margin-left: 4px;
  width: 33px;
  height: 33px;
}

.comment-body {
  background-color: #eff1f3;
  padding: 8px 12px;
  border-radius: 16px;
  max-width: 405px;
  font-size: 13px;
  position: relative;
}

.comment-footer {
  margin-left: 8px;
  margin-top: 2px;
  color: #616893;
  font-size: 12px;
}

.comment-footer button {
  margin-left: 3px;
  font-size: 11.5px;
  background: none;
  border: none;
  padding: 0;
  color: #365abc;
  cursor: pointer;
}

.comment-footer button:hover {
  text-decoration: underline;
}

.avatar-wrapper {
  align-self: flex-start;
}

.comment-footer .bold {
  font-weight: bold;
  color: #4080ff;
}

.edit-comment {
  position: absolute;
  top: 13px;
  right: -25px;
  background-color: none;
  border: none;
  padding: 0;
  margin: 0;
}

.edit-comment i {
  cursor: pointer;
}

.edit-comment-icon {
  content: '';
  display: block;
  background: url(image-path('post-icons-4.png')) -38px -517px;  
  background-repeat: no-repeat;
  width: 14px;
  height: 7px;
}

.edit-comment-icon:hover {
  background: url(image-path('post-icons-4.png')) -12px -517px;    
}

.comment-body .dropdown {
  width: fit-content;
  right: -35px;
  top: 30px;
}

.comment-body .dropdown::before {
  display: none;
}

.comment-body .dropdown li {
  color: #45484f;
  font-size: 12px;
  cursor: pointer;
  padding: 5px 15px;
}