.flex-middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer-login-form {
    background-color: white;
    height: 340px;
    width: 610px;
    padding: 38px 152px 330px 152px;
    box-sizing: border-box;
}

.outer-login-form h4 {
    font-weight: normal;
    color: #1c2028;
    text-align: center;
    margin-bottom: 22px;
    font-size: 20px;
}

.failed-login-form {
    display: flex;
    flex-direction: column;
    position: relative;
}

.failed-login-form input {
    box-sizing: border-box;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 7px;
    border: 1px #dddfe2 solid;
    border-radius: 1px;
}

.failed-login-form input::placeholder{
    color: #9a949c;
}

.failed-login-form input[type="submit"] {
    background-color: #4267b2;
    border-color: #4267b2;
    color: white;
    transition: 0.2s;
    border-radius: 2px;
    font-size: 16.5px;
    padding: 11.5px 0;
}

.failed-login-form input[type="submit"]:hover {
    background-color: #32569f; 
    cursor: pointer;
}

.create-account {
    background-color: #42b72a;
    border-color: #42b72a;
    color: white;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: fit-content;
    padding: 12px 25px;
    font-size: 14.5px;
    border-radius: 2px;
    transition: 0.2s;
}

.create-account:hover {
    text-decoration: none;
    background-color: #329b1d;
}

.or-container {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 15.5px;
}

.or-container hr {
    margin-bottom: 5px;
    width: 40%;
}

.failed-forgot-account {
    position: absolute;
    top: 60%;
    left: 36%;
    font-size: 13.5px;
    color: #9a949c;
}

.failed-forgot-account:hover {
    text-decoration: underline;
}

.small {
    position: absolute;
    font-size: 12px;
    top: 37px;
    left: 177px;
    padding: 8.5px 11px;
}

.failed-signup {
    width: 44% !important;
}

.failed-signup-login-button {
    position: absolute;
    z-index: 1;
    right: 0;
    top: -86px;
}

.failed-login-form .input:first-of-type {
    margin-right: 0;
}

.failed-login-form .input-error {
    border: 1px #ed4630 solid;
}

.failed-login-form .error-display {
    top: -2px;
}

.failed-login-form .position-relative {
    position: relative;
    display: inline-block;
    width: 100%;
}

.container .failed-signup-login-button input[type="submit"] {
    font-size: 13.5px;
}


