.feed header {
    margin-bottom: 10px;
}

.feed {
    font-size: 13px;
}

.feed-body {
    display: flex;
    justify-content: space-between;
}

.feed aside {
    width: 180px;
}

.feed aside img {
    width: 19px;
    height: 19px;
}

.feed aside a {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
    text-decoration: none;
    color: black;
    border-radius: 2px;
    border: 1px solid transparent;
    height: 30px;
}

.feed aside a:hover {
    background-color: #f5f6f7;
    border: 1px #dddfe2 solid;
}

.feed .active {
    background-color: #f5f6f7;
    border: 1px #dddfe2 solid;
    font-weight: bold;
}

.feed aside hr {
    margin-bottom: 5px;
}

.fa-github {
    font-size: 20px;
}

.fa-linkedin {
    font-size: 22px;
    color: #0077b5;
}

.feed aside i {
    margin-right: 5px;
}

.right-col {
    width: 275px;
}

.copyright {
    width: 100%;
    margin-top: 0 !important;
}

.copyright .languages {
    background-color: white;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #dddfe2;
    color: #90949b;
}

.copyright footer {
    padding: 10px;
    color: #606770;
}

.center-col {
    width: 530px;
    margin: 0 10px;
}

.welcome {
    margin-top: 60px;
    text-align: center;
}

.welcome h1 {
    font-size: 23px;
    color: #333;
}

.welcome h2 {
    font-weight: normal;
    font-size: 24px;
    margin-top: 10px;
    color: #90949c;
}

