main {
    background-color: #e9ebee;
    min-height: 100vh;
}

header {
    height: 42px;
    background-color: #4267b2;
    border-bottom: 1px #29497f solid;
    color: white;
    display: flex;
}

.search-bar {
    display: flex;
    align-items: center;
    margin: 0 7px 0 0;
}

.white-logo-icon {
    display: inline-block;
    background: url(image-path('header-icons.png')) 0 0;
    background-size: 25px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin-right: 7px;
}

.search-icon {
    cursor: pointer;
    background: url(image-path('header-icons.png')) 0 -1445px;
    background-repeat: no-repeat;
    width: 4px;
    height: 14px;
}


.search-bar form {
    overflow: hidden;
    border-radius: 3px;
    border: 1px #3b5a99 solid;
    min-width: 445px;
    display: flex;
}

.search-bar input {
    margin: 0;
    padding: 4px 7px;
    font-size: 14px;
    border: none;
}

.search-bar input[type="text"]:focus ~ .submit-button {
    background-color: #4080ff;
}

.search-bar input[type="text"]:focus ~ .submit-button > .search-icon {
    background: url(image-path('header-icons.png')) 0 -1460px;
}

.search-bar input[type="text"] {
    width: 100%;
}

.search-bar input::placeholder {
    color: #a5a9b3;
}

.search-bar .submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f6f7;
    transition: 0.2s;
    width: 55px;
}

.search-bar .submit-button:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

.profile-navbar {
    display: flex;
    align-items: center;
    font-size: 12px;
    position: relative;
}

.avatar {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.main-navbar {
    display: flex;
    align-items: center;
    color: #fbfcfe;
    height: 30px;
}

.main-navbar button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    width: fit-content;
    cursor: pointer;
}

.main-navbar li {
    display: flex;
    align-items: center;
    height: 18px;
    border-right: 1px solid #315597;
}

.main-navbar .avatar-link {
    padding-left: 2px;
}

.main-navbar a {
    display: flex;
    align-items: center;
    color: #fbfcfe;
    padding: 0 13px;
    height: 30px;
    border-radius: 3px;
}

.main-navbar a:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: #3a5b9e;
}

.main-navbar .menu-button {
    padding: 0 13px;
    border-right: none;
}

.main-navbar .menu-button:hover {
    cursor: pointer;
}

.menu-icon {
    background: url(image-path('header-icons.png')) -5px -850px;    
    background-repeat: no-repeat;
    width: 13px;
    height: 9px;
}

.white-menu-icon {
    background: url(image-path('header-icons.png')) -5px -825px;    
    background-repeat: no-repeat;
    width: 13px;
    height: 9px;
}

.main-navbar .notifications-button:first-of-type {
    padding-left: 13px;
}

.main-navbar .notifications-button {
    padding: 0 13px 0 0;
    position: relative;
    cursor: pointer;
}

.notifications-icon {
    background: url(image-path('header-icons.png')) 0px -793px;    
    background-repeat: no-repeat;
    width: 24px;
    height: 22px;
}

.dropdown {
    background-color: white;
    color: #1e222a;
    width: 238px;
    position: absolute;
    top: 42px;
    right: 0;
    z-index: 1;
    border: 1px #bdbebf solid;
    border-radius: 2px;
    padding: 5px 0;
    box-shadow: 0 2px 4px 2px #0909092e;
}

.dropdown li {
    border: none;
    padding: 5px 27px;
    cursor: pointer;
}

.dropdown li:hover {
    color: white;
    background-color: #3b5a99;
}

.notifications-menu {
    display: flex;
}

.notifications-menu li {
    border: none;
}

.friend-requests-icon {
    background: url(image-path('header-icons.png')) 0px -892px;    
    background-repeat: no-repeat;
    width: 24px;
    height: 22px;
}

.friend-requests-dropdown {
    position: absolute;
    background-color: white;
    top: 31px;
    right: -20px;
    z-index: 1;
    height: fit-content;
    width: 425px;
    border: 1px #dddfe2 solid;
    box-shadow: 0 2px 4px 2px #0909092e;
    cursor: auto;
}

.friend-requests-dropdown .left-col, .friend-requests-dropdown .right-col {
    display: flex;
    width: fit-content;
}

.friend-requests-dropdown .dropdown-header {
    color: #333;
    font-size: 12px;
    font-weight: bold;
    padding: 7px 10px;
}

.friend-requests-dropdown li {
    display: flex;
    justify-content: space-between;
    border-top: 1px #dddfe2 solid;
    padding: 15px 11px;
    height: fit-content;
}

.friend-requests-dropdown img {
    width: 50px;
    height: 50px;
}

.friend-requests-dropdown button {
    white-space: nowrap;
}

.friend-requests-dropdown a {
    margin: 0;
    padding: 0;
    color: #365898;
    font-weight: bold;
}

.friend-requests-dropdown a:hover {
    text-decoration: underline;
    background-color: white;
}

.friend-requests-dropdown .right-col button {
    cursor: pointer;
    font-size: 12px;
    padding: 4px 9px;
    border-radius: 3px;
    font-weight: bold;
}

.friend-requests-dropdown .confirm-button {
    background-color: #4167b2;
    color: white;
    margin-right: 4px;
}

.friend-requests-dropdown .confirm-button:hover {
    background-color: #365898;
}

.friend-requests-dropdown .deny-button {
    border: 1px #ccd0d5 solid;
    background-color: #f5f6f7;
    color: #4b4f56;
}

.friend-requests-dropdown .deny-button:hover {
    background-color: #ebedf0;
}

.notifications-button span {
    font-size: 10px;
    padding: 1px 4px;
    border-radius: 2px;
    background-color: #fa3e3e;
    position: absolute;
    top: -5px;
    right: 10px;
}

.friend-requests-dropdown::before, .dropdown::before {
    content: '';
    display: block;
    position: absolute;
    top: -9px;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 10px solid white;
}

.friend-requests-dropdown::before {
    right: 35px;
}

.dropdown::before {
    right: 9px;
}

.white-friend-requests-icon {
    background: url(image-path('header-icons.png')) 0px -867px;    
    background-repeat: no-repeat;
    width: 24px;
    height: 22px;
}

.no-requests {
    display: flex;
    justify-content: center;
    background-color: #f5f6f7;
    color: #90949c;
}

.no-requests p {
    width: 100%;
    text-align: center;
}

.search-results {
    position: absolute;
    top: 34px;
    left: 32px;
    font-weight: bold;
    font-size: 13px;
    background-color: white;
    z-index: 1;
    width: 360px;
    box-shadow: 0 2px 4px 2px #0909092e;
    border-radius: 2px;
    overflow-y: auto;
    max-height: 300px;
}

.search-results a {
    color: #333;
}

.search-results a:hover {
    color: #333;
    text-decoration: none;
    background-color: rgb(236, 241, 247);
}

.search-results li {
    cursor: pointer;
    padding: 6px 8px;
}

.search-results li:hover {
    background-color: rgb(236, 241, 247);
}



