main {
    background-color: #e9ebee;
    min-height: 100vh;
}

header {
    height: 42px;
    background-color: #4267b2;
    border-bottom: 1px #29497f solid;
    color: white;
    display: flex;
}

.search-bar {
    display: flex;
    align-items: center;
    margin: 0 7px 0 0;
}

.white-logo-icon {
    display: inline-block;
    background: url(image-path('header-icons.png')) 0 0;
    background-size: 25px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin-right: 7px;
}

.search-icon {
    background: url(image-path('header-icons.png')) 0 -1445px;
    background-repeat: no-repeat;
    width: 4px;
    height: 14px;
}


.search-bar form {
    overflow: hidden;
    border-radius: 3px;
    border: 1px #3b5a99 solid;
    min-width: 445px;
    display: flex;
}

.search-bar input {
    margin: 0;
    padding: 4px 7px;
    font-size: 14px;
    border: none;
}

.search-bar input[type="text"] {
    width: 100%;
}

.search-bar input::placeholder {
    color: #a5a9b3;
}

.search-bar .submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f6f7;
    transition: 0.2s;
    width: 55px;
}

.search-bar .submit-button:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

.profile-navbar {
    display: flex;
    align-items: center;
    font-size: 12px;
    position: relative;
}

.avatar {
    border-radius: 50%;
    width: 25px;
    margin-right: 10px;
}

.main-navbar {
    display: flex;
    align-items: center;
    color: #fbfcfe;
    height: 30px;
}

.main-navbar li {
    display: flex;
    align-items: center;
    height: 18px;
    border-right: 1px solid #315597;
}

.main-navbar .avatar-link {
    padding-left: 2px;
}

.main-navbar a {
    display: flex;
    align-items: center;
    color: #fbfcfe;
    padding: 0 13px;
    height: 30px;
    border-radius: 3px;
}

.main-navbar a:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: #3a5b9e;
}

.main-navbar .menu-button {
    padding: 0 13px;
    border-right: none;
}

.main-navbar .menu-button:hover {
    cursor: pointer;
}

.menu-icon {
    background: url(image-path('header-icons.png')) -1px -1329px;    
    background-repeat: no-repeat;
    width: 13px;
    height: 9px;
}

.main-navbar .notifications-button {
    padding: 0 13px;
}

.main-navbar .notifications-button:hover {
    cursor: pointer;
}

.notifications-icon {
    background: url(image-path('header-icons.png')) 0px -793px;    
    background-repeat: no-repeat;
    width: 24px;
    height: 22px;
}

.dropdown {
    background-color: white;
    color: #1e222a;
    width: 238px;
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 1;
    border: 1px #bdbebf solid;
    border-radius: 3.5px;
    padding: 5px 0;
    box-shadow: 0 2px 4px 2px #a6a6a65a;
}

.dropdown li {
    border: none;
    padding: 5px 27px;
    cursor: pointer;
}

.dropdown li:hover {
    color: white;
    background-color: #3b5a99;
}



