.post {
    margin-bottom: 10px;
    border: 1px solid #dddfe2;
}

.post hr {
    margin: 0;
    height: 7px;
}

.post small {
    margin: 5px 0;
    font-size: 12px;
    display: block;
    color: #616770;
}

.post p {
    margin-bottom: 7px;
    font-size: 14px;
}

.post {
    overflow: hidden;
    border-radius: 5px 5px 3px 3px;
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    position: relative;
}

.post-header a {
    font-size: 14px;
    font-weight: bold;
}

.post-header img {
    width: 37px;
}

.post .large-font {
    font-size: 22px;
}

.posts-form .large-font {
    font-size: 22px;
}

.post-icons {
    display: flex;
    margin-top: 3px;
}

.post-icons button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: none;
    border: none;
    padding: 7px 0 7px 0;
    font-weight: bold;
    font-size: 13px;
    color: #606787;
    cursor: pointer;
}

.post-icons button:hover {
    background-color: rgba(242, 242, 242, 0.5);
}

.post-icons i {
    margin-right: 5px;
}

.like-icon {
    content: '';
    display: inline-block;
    background: url(image-path('post-icons.png')) 0px -417px;    
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.comment-icon {
    content: '';
    display: inline-block;
    background: url(image-path('post-icons-2.png')) -18px -354px;    
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.post .card-footer {
    border-top: 1px #eaebec solid;
}

.post .card-footer img {
    width: 32px;
    margin-left: 7px;
}

.post .card-footer textarea {
    resize: none;
    font-size: 12px;
    border: 1px #ccd0d5 solid;
    border-radius: 20px;
    padding: 7px 12px;
    height: 15px;
    width: 430px;
    outline: none;
}

.post .card-footer textarea::placeholder {
    color: #90949c;
}

.post-header .dropdown {
    width: fit-content;
    top: 13px;
    right: -10px;
}

.post-header .dropdown li {
    padding: 5px 13px;
    font-size: 13px;
}

.post-menu-button {
    background: none;
    border: none;
    position: absolute;
    right: -14px;
    top: -8px;
    cursor: pointer;
}

.post-menu-icon {
    content: '';
    display: inline-block;
    background: url(image-path('post-icons-2.png')) -23px -287px;    
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.post-menu-icon:hover {
    background: url(image-path('post-icons-2.png')) 0 -310px; 
}

.post .event {
    display: inline-block;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.birthday-wrapper {
    background-color: #3578e5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7px;
}

.birthday-icon {
    content: '';
    display: block;
    background: url(image-path('event-icons.png')) 0 -37px;    
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}