.post {
    margin-bottom: 10px;
    border: 1px solid #dddfe2;
}

.post hr {
    margin: 0;
    height: 7px;
}

.post small {
    margin: 5px 0;
    font-size: 12px;
    display: block;
    color: #616770;
}

.post p {
    margin-bottom: 7px;
    font-size: 14px;
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.post-header a {
    font-size: 14px;
    font-weight: bold;
}

.post-header img {
    width: 37px;
}

.post .large-font {
    font-size: 20px;
}