.posts-form {
    background-color: white;
    border: 1px solid #dddfe2;
    font-size: 13px;
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: 10px;
    transition: 0.2s;
    position: relative;
    z-index: 1;
}

.posts-form img {
    width: 40px;
    height: 40px;
    position: absolute;
    border: 1px solid #b9bec3;
}

.card-header {
    font-weight: bold;
    background-color: #f5f6f7;
    border-bottom: 1px solid #dddfe2;
    padding: 9px 7px;
    color: #4b4f56;
    border-radius: 5px 5px 0 0;
    position: relative;
}

.card-footer {
    font-weight: bold;
    border-top: 1px solid #dddfe2;
    padding: 9px 7px;
    color: #4b4f56;
}

.card-footer form {
    border-radius: 10px;
}

.card-body {
    padding: 15px 15px 3px 15px;
    background-color: white;
    border-bottom: 1px #eff0f1 solid;
}

.body-input {
    display: flex;
    justify-content: flex-end;
}

.posts-form .card-body {
  border-bottom: none;
}

.posts-form textarea {
    border: none;
    font-size: 14px;
    transition: 0.2s;
    width: 88%;
    outline: none;
    resize: none;
    overflow: hidden;
    padding-top: 13px;
    padding-bottom: 0;
    box-sizing: border-box;
}

.posts-form textarea::placeholder {
    color: #a0a3aa;
}

.posts-form input {
    width: 100%;
}

.posts-form input[type="file"] {
    width: 0;
    border: none;
}

.posts-form hr {
    margin-top: 10px;
    margin-bottom: 8px;
    height: 0.5px;
    border-bottom: 0.5px #eff0f1 solid;
}

.posts-form-buttons {
    display: flex;
    padding-bottom: 5px;
}

.posts-form-buttons label {
    font-weight: bold;
    font-size: 12px;
    border-radius: 20px;
    padding: 5px 13px;
    background-color: #f5f6f7;
    border: none;
    display: flex;
    cursor: pointer;
    align-items: center;
    color: #4b4f56;
    width: 95px;
}

.posts-form-buttons button:hover {
    background-color: #ebebeb;
    cursor: pointer;
}

.posts-form input[type="submit"] {
    font-size: 12px;
    padding: 7px;
    background-color: #4169b5;
    color: white;
    border: none;
    border-radius: 3px;
    transition: 0.2s;
}

.posts-form input[type="submit"]:hover {
    background-color: #3257a1;
    cursor: pointer;
}

.posts-form input[type="submit"][disabled=disabled], 
.posts-form input[type="submit"]:disabled {
    background-color: #9cb5da;
}

.posts-form input[type="submit"][disabled=disabled]:hover, 
.posts-form input[type="submit"]:disabled:hover {
    cursor: auto;
}

.modal {
  position: fixed; 
  z-index: 1; 
  padding-top: 150px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.5); 
}

.modal-content {
    position: relative;
}

.modal .posts-form {
    margin: 0 auto;
    width: 500px;
}

.card-header button {
    position: absolute;
    top: 10px;
    right: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.image-previews {
    margin-top: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
}

.image-holder {
    position: relative;
    min-width: 97px;
    height: 97px;
    margin-right: 5px;
}

.image-previews img {
    height: 97px;
    width: 97px;
    border: none;
    position: static;
}

.add-image-button {
    min-width: 97px;
    height: 97px;
    float: left;
    border: 2px #dddfe2 solid;
    border-style: dashed;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: #dddfe2;
}

.add-image-button:hover {
    color: #cccccc;
}

.posts-form-buttons .uploaded {
    background-color: #e4f0d5;
}

.posts-form .image-holder:hover .image-overlay {
    opacity: 1;
}

.posts-form .image-overlay {
    opacity: 0;
    background-color: rgba(1, 0, 0, 0.3);
    position: absolute;
    width: 100%;
    padding-top: 100%;
    transition: 0.4s;
}

.posts-form .image-overlay button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
}

.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100%;
    z-index: 1;
}