.profile-body {
    width: 854px;
    margin: 12px auto 0 auto;
}

.profile-body aside {
    width: 320px;
}

.profile-body .center-col {
    margin-right: 0;
}

.profile-body .copyright {
    font-size: 13px;
}

.profile-box {
    background-color: white;
    padding: 5px 5px 2px 5px;
    border-radius: 3px;
    border: 1px solid #dddfe2;
    margin-bottom: 10px;
}

.profile-box-header {
    display: flex;
    align-items: center;
    padding: 7px;
}

.profile-box i {
    margin-right: 8px;
}

.friends-box-icon {
    content: '';
    display: inline-block;
    background: url(image-path('friends-icon.png')) 0 0;    
    background-repeat: no-repeat;
    background-size: 22px;
    width: 22px;
    height: 22px;
}

.photos-box-icon {
    content: '';
    display: inline-block;
    background: url(image-path('profile-icons-2.png')) 0 0;    
    background-repeat: no-repeat;
    background-size: 24px;
    width: 24px;
    height: 24px;
}

.friends-box {
    margin-top: 5px;
}

.friends-box img {
    border-radius: 0;
    width: 100%;
}

.friends-box li {
    position: relative;
    width: 33.33%;
}

.friends-box span {
    display: block;
    color: white;
    width: 100%;
    background-image: linear-gradient(#ffffff00, #3e3e3eb3);
    position: absolute;
    bottom: 3px;
    left: 0;
    font-size: 13px;
    padding: 5px;
    box-sizing: border-box;
}

.profile-box-header span {
    margin-left: 4px;
    font-size: 14px;
    color: #90949f;
}