.profile-body {
    width: 854px;
    margin: 12px auto 0 auto;
}

.profile-body aside {
    width: 320px;
}

.profile-body .center-col {
    margin-right: 0;
}

.profile-body .copyright {
    font-size: 13px;
}

.profile-box {
    background-color: white;
    padding: 5px 2.5px 2.5px 2.5px;
    border-radius: 3px;
    border: 1px solid #dddfe2;
    margin-bottom: 10px;
    height: fit-content;
}

.profile-box-header {
    display: flex;
    align-items: center;
    padding: 7px;
}

.profile-box i {
    margin-right: 8px;
}

.friends-box-icon {
    content: '';
    display: inline-block;
    background: url(image-path('friends-icon.png')) 0 0;    
    background-repeat: no-repeat;
    background-size: 22px;
    width: 22px;
    height: 22px;
}

.photos-box-icon {
    content: '';
    display: inline-block;
    background: url(image-path('profile-icons-2.png')) 0 0;    
    background-repeat: no-repeat;
    background-size: 24px;
    width: 24px;
    height: 24px;
}

.side-box {
    margin-top: 5px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.side-box img {
    border-radius: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.side-box .image-holder {
    float: left;
    position: relative;
    width: 98.5px;
    height: 98.5px;
    margin: 2.5px;
}

.side-box span {
    display: block;
    color: white;
    width: 100%;
    background-image: linear-gradient(#ffffff00, #3e3e3eb3);
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 13px;
    padding: 5px;
    box-sizing: border-box;
}

.profile-box-header span {
    margin-left: 4px;
    font-size: 14px;
    color: #90949f;
}

.post-header i {
    margin: 0 5px;
}

.right-arrow-icon {
    content: '';
    display: inline-block;
    background: url(image-path('post-icons-2.png')) -38px -414px;    
    background-repeat: no-repeat;
    width: 8px;
    height: 12px;
}