body {
    background-color: white; 
    font-family: "Helvetica Neue", Arial, sans-serif;
    min-width: 980px;
}

a {
    text-decoration: none;
    color: #385c97;
}

a:hover {
    text-decoration: underline;
}

hr {
    margin-bottom: 15px;
    border-bottom: 0.5px solid #dddfe2;
}

.main-header {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(#4f6ca0, #3c5d96);
    color: white;
    height: 81.5px;
    border-bottom: 1px solid #123e81;
}

.container {
    width: 980px;
    position: relative;
}

.outer-login-body {
    background-color: #edf0f5;
    height: 640px;
}

.login-body {
    color: #666;
    font-family: 'Freight Sans', Helvetica, Arial, sans-serif;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.flex-space-around {
    display: flex;
    justify-content: space-around;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.logo {
    background-image: url(image-path('sprite.png'));
    background-repeat: no-repeat;
    background-size: 170px 78px;
    height: 35px;
    width: 200px;
    margin-top: 30.5px;
}

.login-form {
    display: flex;
    margin-top: 15px;
}

.login-form input {
    margin-top: 5px;
    border: 0.5px solid black;
    font-size: 12px;
    width: 130px;
    padding: 4px;
}

.login-form input[type="submit"] {
    background-color: #4267b2;
    border-color: #29487d;
    font-size: 12px;
    border-radius: 2px;
    height: 24px;
    margin-top: 19px;
    color: #fcfdfe;
    width: fit-content;
    padding: 0 6px;
}

.login-form input[type="submit"]:hover {
    background-color: #3c5d96;
    cursor: pointer;
}

.login-form label {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.forgot-account {
    position: absolute;
    top: 63px;
    font-size: 12px;
    font-weight: 350;
    color: #9db4d5;
    width: 100px;
}

.forgot-account:hover {
    text-decoration: underline;
}

.about {
    width: 100%;
    font-size: 16px;
}

.about > h2 {
    margin-top: 62px;
    font-size: 31px;
    font-weight: bold;
    color: #333333;
    width: 430px;
}

.about strong {
    font-weight: bold;
    color: #333333;
    font-size: 19px;
    margin-right: 6px;
}

.icon {
    display: inline-block;
    width: 55px;
    height: 55px;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-size: 55px 55px;
}

.whats_new {
    background-image: url(image-path('whats_new.png'));
}

.updates {
    background-image: url(image-path('updates.png'));
}

.find_more {
    background-image: url(image-path('find_more.png'));
}

.icons {
    margin-top: 38px;
}

.icons > li {
    display: flex;
    align-items: center;
    margin-top: 26px;
}

.signup {
    width: 78%;
    color: #333333;
    position: relative;
}

.signup h1 {
    font-size: 39px;
    margin-top: 18px;
    font-weight: bold;
}

.signup h3 {
    font-weight: lighter;
    font-size: 21px;
    margin-top: 3px;
    margin-bottom: 11px;
}

.signup input {
    margin-top: 9.5px;
    width: 428px;
    padding: 7.5px 9px;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
    border: 1px #bec8d7 solid;
}

.signup input::placeholder {
    color: #999;
}

.signup .name-input {
    width: 208px;
}

.birthday {
    display: block;
    margin-top: 21px;
    font-size: 20px;
    position: relative;
}

.birthday select {
    margin-top: 6px;
    font-size: 12.5px;
    height: 30px;
}

.birthday option {
    padding: 19px;
    margin: 19px;
}

.why-birthday {
    width: 150px;
    position: absolute;
    top: 31px;
    display: inline-block;
    margin-left: 10px;
    font-size: 12px;
    color: #385c97;
    z-index: 1;
}

.why-birthday:hover {
    text-decoration: underline;
    cursor: pointer;
}

.gender {
    margin: 17px 0;
    font-size: 19.5px;
    line-height: 18px;
    vertical-align: middle;
    position: relative;
}

.signup input[type="radio"] {
    margin: 0 5px;
    padding: 0;
    width: 14px;
    height: 14px;
}

.signup input[type="radio"]:last-of-type {
    margin-left: 22px;
}

.gender label {
    display: flex;
    align-items: center;
}

.fineprint {
    margin-top: 2px;
    font-size: 12px;
    color: #7a7a7a;
    width: 303px;
}

.fineprint a {
    text-decoration: none;
    color: #385c97;
    margin-left: 3px;
}

.fineprint a:hover {
    text-decoration: underline;
}

.signup input[type="submit"] {
    margin-top: 23px;
    width: 194px;
    background-image: linear-gradient(#67ae55, #578843);
    color: white;
    font-weight: bold;
    font-size: 21px;
    border: 1px #486824 solid;
    padding: 6.5px 0;
    box-shadow: inset 0 1px 1px #98e278;
    text-shadow: 0 1px 2px rgba(0,0,0,.8);
}

.signup input[type="submit"]:hover {
    background-image: linear-gradient(#73bb61, #578843);
    cursor: pointer;
}

.demo-button {
    padding: 8px 9px;
    border-radius: 4px;
    margin: 20px 0 0 0px;
    width: 193px;
    background-image: linear-gradient(#4f6ca0, #3c5d96);
    color: white;
    font-weight: bold;
    font-size: 17.5px;
    border: 1px #24395c solid;
    box-shadow: inset 0 1px 1px #96a9cc;
    text-shadow: 0 1px 2px rgba(0,0,0,.8);
    position: absolute;
    bottom: 0px;
    left: 210px;
}

.signup .demo-button:hover {
    background-image: linear-gradient(#5d79ac, #3c5d96);
    cursor: pointer;
}

.signup-buttons {
    display: flex;
    align-items: center;
    position: relative;
}

.signup-footer {
    margin-top: 18px;
    color: #666666;
    font-weight: bold;
    font-size: 13px;
}

.main-footer {
    height: 100px;
    margin-top: 30px;
    font-size: 12.5px;
    color: #737373;
}

.main-footer hr {
    height: 5px;
    margin-bottom: 10px;
}

.top-footer {
    margin-bottom: 6px;
}

.main-footer a {
    margin-left: 11px;
}

.sub-footer {
    margin-top: 4px;
}

.sub-footer a:first-of-type {
    margin-left: 0;
}

.sub-footer a {
    margin-left: 20px;
}

.copyright {
    display: inline-block;
    margin-top: 21.5px;
    font-size: 11px;
}

.copyright .social-media {
    margin-left: 3px;
}

.signup-footer a {
    margin-right: 3px;
}

.signup-modal {
    background-color: white;
    position: absolute;
    width: 330px;
    margin: 15px;
    line-height: 18px;
    top: 0;
    right: 0;
    font-size: 14.5px;
    border-radius: 2px;
    padding: 10px;
    color: #333333;
    box-shadow: 0 1px 5px 1px rgb(155, 155, 155);
}

.signup-modal::before {
    content: '.';
    display: block;
    position: absolute;
    top: 7px;
    right: -5px;
    transform: rotate(45deg);
    height: 10px;
    width: 10px;
    background-color: white;
    color: white;
    box-shadow: 2px -2px 1px 0 rgb(196, 196, 196);
}

.signup-modal hr {
    margin-top: 12px;
    margin-bottom: 0;
}

.signup-modal button {
    background-color: #4267b2;
    border-color: #29487d;
    font-size: 12px;
    border-radius: 2px;
    height: 24px;
    margin-top: 10px;
    color: #fcfdfe;
    width: fit-content;
    float: right;
}

.signup-modal button:hover {
    background-color: #3c5d96;
    cursor: pointer;
}

.signup-modal a {
    margin-left: 2px;
}

.outer-modal {
    float: right;
    padding: 10px;
    background-color: transparent;
    position: absolute;
    width: 370px;
    height: 160px;
    line-height: 18px;
    top: -15px;
    right: 148px;
}

.signup .input-error {
    border: 1px #ed4630 solid;
}

.error-icon {
    background: url(image-path('icons.png')) 0px 44px;
    width: 22px;
    height: 22px;
    content: '';
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 10px;
}

.signup .position-relative {
    position: relative;
    width: fit-content;
    display: inline-block;
}

.input:first-of-type {
    margin-right: 12px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.error-display {
    background-color: #be4b49;
    border: 1px #9b433d solid;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    padding: 13px;
    box-shadow: 0 1px 4px 0.5px rgb(203, 203, 203);
    width: fit-content;
    position: absolute;
    top: 5px;
    right: 105%;
    z-index: 1;
    max-width: 330px;
}

.error-display::after {
    content: '';
    display: block;
    position: absolute;
    top: 14px;
    right: -6px;
    transform: rotate(45deg);
    height: 15px;
    width: 15px;
    background-color: #be4b49;
    color: #be4b49;
    border-radius: 2px;
    border: 0 0 1px 1px #9b433d solid;
}

.error-display a {
    color: white;
    font-weight: bold;
    margin-left: 3px;
}

.error-display a:hover {
    text-decoration: underline;
}

.radio-error {
    position: absolute;
    top: -2px;
    right: 10px;
}

.session-errors {
    background-color: #fcebe8;
    border: 1px #db402c solid;
    text-align: center;
    padding: 10px;
}